body {
    background-image: linear-gradient(rgba(236, 238, 238, 0.932), rgb(106, 137, 141));
    text-align: center;
    box-sizing: border-box;
    margin:50px;
}

h1 {
    color: rgb(9, 11, 12);
    font-family: garamond;
    font-size: 40px;
    margin:5px;
    margin-left: 40px;
}

.name {
    display: flex;
}

p {
    color: black;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


header nav {
    float:right;
    font-size: 30px;
}

nav a {
    padding: 10px;
}

nav {
    margin: 20px;
    font-family:garamond;
    width: 500px;
    display: flex;
    justify-content: space-around;
    color: rgb(14, 97, 122)
}

.profile{
    width:95%;
}


.welcome {
    position: absolute;
    top: 8%;
    left: 15%;
    font-size: 60px;
    font-family:garamond;
    font-weight: bold;
    color:rgb(55, 86, 126);
}

h3{
    color:rgb(9, 11, 12);
    top: 22%;
    left: 17%;
}

button {
    position: absolute;
    top: 30%;
    left: 26%;
    background-color: rgb(55, 86, 126);
    color: white;
    box-shadow: 0px 0px 2px 2px rgb(49, 48, 48);
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 90px;
    font-size: 15px;
   
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:white;
}

a:active {
    color:rgb(21, 82, 161);
}

.container {
    position: relative;
    text-align: center;
    margin-top: 70px;
}


.info {
    margin-bottom: 300px;
    padding: 20px;
    font-family:garamond;
    color: white;
    font-size: 25px;
}

.work {
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    text-align: center;
    margin:auto;

}

#github {
    padding: 10px;
    width: 500px;
    border-color:rgb(55, 86, 126);
    border-width: 5px;
}

#github img {
    width: 100%;
    height: auto;
}


#placeholder1 {
    width: 500px;
}

#placeholder2 {
    width: 500px;
}


footer {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-style: italic;
}


@media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
    }

    header {
        flex-direction: column;
    }
}



@media screen and (max-width: 576px){
    main,
    nav {flex-direction: column;
}
}

@media screen and  (max-wdith:320px){
    flex-direction: column;
}